Primary Teachers
 
ENGLISH TEACHERS
Part Time
Primary
Earn extra income tutoring
 
 
Aptutoring have been in business since 2000. We are an expanding professional tutoring service that provides educational support to primary and secondary school aged children across all curriculum areas in Melbourne's South Eastern & Eastern suburbs. Due to our ongoing expansion, we are currently looking for suitably qualified Primary English & Maths School Teachers, who share our desire to support and assist students.
 
Do you possess the following:

    committed and honest
    possess strong interpersonal skills
    able to tutor after-school hours and some Saturdays when necessary
    have a car a current drivers license.
    Working With Children Check Police Check And Or VIT Registration.

 
In return, Aptutoring will provide you with a steady stream of tutoring hours, ongoing assistance, match you with students in your zone and take care of all the administration, while you focus on making a difference to students.
 
If this sounds like you, then please apply by sending a brief resume to:info@aptutoring.com.au
 
Application process can take up to 2 - 3 weeks.

Applicants must have the right to work in Australia, unfortunately we are not in a position to sponsor anyone.
 
